/**
 * Color palette
 */

// Generic colors
$blue                         : #288ad6;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;
$pink                         : #ff708e;
$purple                       : #6f1f44;
$gray                         : #95a5a6;

// Color Scheme
$color-primary                : $green;
$color-secondary              : $yellow;
$color-highlight              : $red;

// Common colors
$color-text                   : #444;
$color-bg                     : #f1f1f1;
$color-border                 : #ddd;

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $color-primary;


// Links
$color-link-default           : $purple ;
$color-link-visited           : $purple ;
$color-link-hover             : darken($purple , 20%);
$color-link-active            : darken($purple , 20%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
