/**
 * Global app/site styles
 */

body {
    background-color: #fecc32;
}

.container {
    background-color: #f7f5e8;
    display: block;
    margin: 0 auto;
    max-width: #{$layout-max-width}px;
    padding-top: 24px;
    padding-bottom: 10px;
    width: 100%;
}


/**
 * Default layout container
 */

.l-container {
    color: #fff;
    margin: 0 auto 24px;
    position: relative;
    width: 100%;
    @include respond-min($bp-mid) {
        border-radius: 10px 10px 0 0;
        max-width: #{$layout-max-width}px;
        overflow: hidden;
        padding-right: #{$layout-margin}px;
        padding-left: #{$layout-margin}px;
        width: 95%;
    }
    .lt-ie9 & {
        min-width: #{$layout-min-width}px;
    }
    .copy-container {
        background: url('../img/background.gif')  center center no-repeat #612f78;
        background-size: cover;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 30px 10px 10px;
        @include respond-min($bp-narrow) {
            border-radius: 10px 10px 0 0;
            max-width: 600px;
            padding: 30px 15px 7px;
        }
        @include respond-min($bp-mid) {
            margin: 0 auto;
            max-width: 100%;
            padding: 90px 0 50px;
        }
    }
}

.copy {
    max-width: 340px;
    margin: 0 auto;
}

.external-link {
    display: block;
    margin-top: 24px;
    text-align: center;
    @include respond-min($bp-mid) {
        margin-right: 40px;
        text-align: right;
    }
    @include respond-min($bp-wide) {
        margin-top: -15px;
    }
}

.external-link--item {
    background: #f0e4ba;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px -1px 3px #888888;
    color: $color-secondary;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    font-size: 0.8rem;
    @include respond-min($bp-narrow){
        font-style: 1rem;
    }
    @include respond-min($bp-mid) {
        margin: 0 3px;
        padding: 5px 8px;
    }
    @include respond-min($bp-wide) {
        margin: 0 5px;
        padding: 6px 10px;
    }
}

